div.Login{
display: flex;
height: 300px;
width: 300px;
border-color: aqua;
border: 1px solid black;
border-radius: 10px;
justify-content: center;
margin: auto;
}

.h1{
    text-align: center;
    display: flex;
    text-decoration: brown;
}
#name{
    text-decoration: rgb(94, 79, 19);
}
    

    

