div.Login{
display: flex;
height: 400px;
width: 400px;
border-color: aqua;
border: 1px solid black;
border-radius: 10px;
justify-content: center;
margin: auto;
text-align: center;
}
h1{
    font-size: 110%;

}
form{
    align-items: flex-end;
}

