:root{
    --cor0:
    --cor1:
    --cor2


}
 header >h1{
   display: flex;
    text-align: center;
    justify-content: center;
}
header>p{
    display: flex;
    text-align: center;
    justify-content: center;

}

nav>a{
    padding: 10px;
    padding-bottom:  10% 10%;
    border-radius: 5%;
    color: rgb(28, 25, 165);
    line-height: 10px;
    transition-duration: 1s;
}
nav>a:hover{
    text-decoration-color: rgb(228, 4, 4);
    color: rgb(0, 0, 0);
}