
:root{
    --cor0-principal:#d41515;
    --cor1-secundaria:#E6E615;
    --cor2-terciaria:#000000;
}   
header{
    padding-bottom: 10%;
    border-radius: 10px;
}
header >h1{
   display: flex;
   justify-content:center;
   position: relative;
   top: 10vh;
   left: 0vh;
   transform: translate(50% 50%);
}
header>p{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 10vh;
    left: 0vh;
    transform: translate(50% 50%);

}
nav{
    margin-top: 11px;
}
nav>a{
    padding: 10px;
    padding-bottom: 10%;
    line-height: normal;
    font-size: 115%;
    border-radius: 10px;
}
nav>a:hover{
    text-decoration-color:#d41515;
    transition-duration: 0.5s;
}

article>h2{
    color: #d41515;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
}
article>p{
    text-align: justify;
    text-indent: 5%;
    font-size: 115%;
}
ul{
    font-size: 115%;
}
footer{
    text-align: center;
    font-size: 115%;
}

img{
    display: flex;
    margin: auto;
    padding-bottom: 15px;
}
a{
    color:#000000
}